/************************************************
    UTILITIES
************************************************/
.container {
    max-width: 2000px;
}

[class*="col-"] {
    border: 1px solid white;
}

.mb-30 {
    margin-bottom: 30px;
}


/************************************************
    SITE SECTIONS
************************************************/


/************************************************
    RESPONSIVE SECTION
************************************************/